@import "../base/typography";

body {
    font-family: $font-family;
}
.title, h2, p {
    text-align: center;
}
.game {
    text-align: center;

    &__board {
        border: 1px solid black;
        width: 305px;
        margin: 0 auto;

        &__rows {
            height: 40px;
        }
        &__spaces {
            width: 37px;
            display: inline-block;
            height: 100%;

            &--selected {
                background-color: green;
            }
        }
    }
    &__button {
        border: 1px solid transparent;
        background-color: pink;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 20px;

        &--hide {
            display: none;
        }
    }
}
.drop-counters{
    &__spaces {
        width: 40px;
        height: 40px;
        display: inline-block;

        &--playerOne{
            &:hover {
                background-color: rgb(197, 18, 18);
                border-radius: 50%;
            }
        }
        &--playerTwo {
            &:hover {
                background-color: #000;
                border-radius: 50%;
            }
        }
    }
    &--selected {
        background-color: purple;
            width: 40px;
            height: 40px;
            display: inline-block;
    }
    
}
.dropped-counter {
    @extend .game__board__spaces;
    border-radius: 50%;

    &--playerOne{
        background-color: black;
    }
    &--playerTwo{
        background-color: red;
    }
}