@import "../base/typography";

body {
    font-family: $font-family;
}
.title, h2, p {
    text-align: center;
}
.game {
    text-align: center;

    &__board {
        border: 1px solid black;
        width: 500px;
        height: 400px;
        margin: 0 auto;

        &__row {
            border: 1px solid black;
        }
        &__column {
            border: 1px solid black;

        }
    }
    &__button {
        border: 1px solid transparent;
        background-color: pink;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 20px;
    }
}